/* Reset styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }

  /* Header styles */
  .header {
    background-color: #6b6b6b;
    color: #fff;
    padding: 1rem 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .logo img {
    width: 100px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 1rem;
  }
  
  .nav-list a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-list a:hover {
    color: #ffc20f;
  }
  
/* Hero styles */
.hero {
    text-align: center;
    padding: 2rem 0;
    background-image: url("images/mountain_view_1.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  

  .hero img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .hero-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .hero-subtitle {
    font-size: 1.25rem;
    color: #aaa;
  }
  
  /* Section styles */
  .section {
    padding: 4rem 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Footer styles */
  .footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  .footer p {
    font-size: 0.9rem;
  }
  
